#square {
    width: 100px;
    height: 100px;
    background-color: navy;
    position: relative;
    left: 300px;
    top: 150px;
}

@media screen and (max-width: 1200px) {
    #square {
        transform: scale(2);
    }
}

@media screen and (max-width: 992px) {
    #square {
        transform: scale(1.5);
    }
}

@media screen and (max-width: 768px) {
    #square {
        transform: scale(0.5);
    }
}

@media screen and (max-width: 576px) {
    #square {
        transform: scale(0.25);
    }
}